/* Estilos personalizados */
body {
    background-image: url('../img/banner05.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.1rem;
}

  

input, button {
    font-family: 'Courier New', Courier, monospace;
}